<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="{{url_for('static', filename='style.css')}}">
    <title> Home </title>
</head>

<body> 
    <div class="disp">
        <div class="bgr">
            <img src="https://github.com/Volkova-Ekaterina/neuronlab/blob/milaelston/pc/png/background_hd.png?raw=true">
        </div>
        <div class="overlay">
            <button input id="startbutton"  type="button">
        
            </button>
        </div>
        <div class="slidecontainer1">
            <input type="range" min="1" max="100" value="50" class="slider" id="slideri1">
        </div>
    </div>
    



    <script type="text/javascript" src="{{url_for('static', filename='index.js')}}"></script>
    
</body>
</html>