<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div><h1>home page</h1></div>
    <p>Hello, {{name}}</p>
    <img src="https://github.com/Volkova-Ekaterina/neuronlab/blob/main/png/clear_button_depressed.png?raw=true">
    <script type="text/javascript" src="{{url_for('static', filename='index.js')}}"></script>

</body>
</html>