<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
</head>

<body>
    <div id="img1">
        <img src="https://github.com/Volkova-Ekaterina/neuronlab/blob/milaelston/pc/png/background_hd.png?raw=true">
    </div>
    <div id="img2">
            <img src="https://github.com/Volkova-Ekaterina/neuronlab/blob/milaelston/pc/png/buttons/start_button_depressed.png?raw=true">
    </div>
    
    <script type="text/javascript" src="{{url_for('static', filename='index.js')}}"></script>

</body>
</html>