*{
    margin: 100;
}
.disp img{
    position: relative; 
}
.disp .startb{
    position: absolute; 
    left: 110px;
    bottom: 1100px;
}
#img1 img{
    position: relative;
}
#img2 img{
    position: absolute; 
    left: 1110;
    bottom: 110;
}